<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="assets/img/Фавикон-IGaming.ico" type="image/x-icon" />  

  <title>IGaming management</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Mulish:wght@900&family=Raleway&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Mulish:wght@900&family=Raleway&display=swap" rel="stylesheet">

<link href="/css/main.min.css" rel="stylesheet" />
</head>

<body>
  <section class="section">
    {{!-- <div class="preloader">
      <div class="loading">
        <div class="bounceball"></div>
        <div  class="loader">
          <img class="logo-block-img" src="./assets/img/Logo IGaming Management2.svg" alt="Imans-logo" />
        </div>
      </div>
    </div> --}}
    {{> section}}
  </section>
</body>
  <script src="js/index.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</html>